.InstForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 180px;
    color: white;
    background-color: white;
}

.css-11u53oe-MuiSelect-select-.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input-input-MuiOutlinedInput-input {
    width: 100px !important; 
}

#demo-simple-select {
    width: 100%;
}
