@import url(https://fonts.googleapis.com/css?family=Lato:400,200,100,100);

.header {
    background-color: #EEE5E0;
    max-width: -webkit-fill-available;
    height: 40px;
    border: 5px solid #EEE5E0;
    border-radius: 20px 20px 0px 0px;
    position: absolute;
    padding: 10px;
}

li {
    float: left;
}

a:hover,
a:focus {
    outline: none;
}

/* header tab */
.tab a {
    color: #000;
    text-shadow: none;
    padding: 10px 0;
}

.tab a:before {
    color: black;
    text-shadow: 0 0 1px rgba(118, 27, 27, 0.3);
    content: attr(data-hover);
    position: absolute;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
}

.tab a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #ff9999;
    opacity: 0;
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
}

.tab a:hover:before,
.tab a:focus:before {
    color: red;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    transform: translateY(-2px);
}

.tab a:hover:after,
.tab a:focus:after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

.tab a.active:before,
.tab a.active:focus:before {
    opacity: 1;
    color: red;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    transform: translateY(-2px);
}

.tab a.active:after,
.tab a.active:focus:after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

body * {
    font-family: Lato !important;
}

.menu {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 0;
}

.menu a {
    color: rgba(255, 255, 255, 0.8);
    font-family: Lato;
    font-size: 13pt;
    font-weight: 400;
    padding: 15px 25px;
    position: relative;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

#loggedInDiv {
    padding-left: 0px;
    width: 230px;
    text-align: center;
    padding-top: 0%;
} 

#loggedOutDiv {
    padding-right: 50px;
    width: 200px;
    margin-top: 20px;
}

/* .css-11reh94-MuiGrid-root > .MuiGrid-item {
    padding-left: 0px !important;
    padding-top : 65px !important;
  } */

  

#loginBtn,
#logoutBtn,
#mypageBtn {
    background-color: #bf1650;
    color: white;
    font-weight: bold;
    border-radius: 20;
    margin-right: 3vw;
    display: inline-block;
}

#mypageBtn, #logoutBtn {
    margin: 5px;
}


#loginBtn {
    float: right;
    transform: scale(1.1);
}

#logoutBtn:hover {
    transition: 0.5s;
    transform: scale(0.9);
}

@media screen and (max-width: 895px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .tab {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    #loginBtn {
        color: black;
    }
}