body {
    background-color: beige;
}

.Wrapper {
    height: 100vh;
    display: flex;
    justify-content: left;
}

.leftSide {
    width: 15%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.menubar > ul {
    padding: 0;
    margin: 10px;
    height: 100%;
}

.menubar > li {
    height: 30px;
    font-size: larger;
    border: 1px solid black;
    height: 25%;
}

li > a {
    color: inherit;
    text-decoration: none;
}
.rightSide {
    flex: 1;
    border: 1px solid blue;
}

.menuBar {
    width: 100%;
    height: 50%;
    border: 1px solid purple;
    display: inline-grid;
    align-items: center;
}