.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFD180;
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
    padding: 50px;
    border-radius: 20px;
    background-color: #ff9100;
  }
  
  .login-container h1 {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 30px;
  }
  
  .login-container div {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
  }
  
  .login-container input {
    border: none;
    padding: 10px;
    border-radius: 5px;
    height: 20px;
    width: 250px;
    margin-right: 10px;
  }
  
  .login-container button {
    border: none;
    background-color: #ffffff;
    color: #ff9100;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .login-container button:hover {
    background-color: #BF360c;
    color: #ffffff;
  }

  .login-container hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: #ffffff;
    margin-bottom: 30px;
  }
  
  .login p {
    color: #ffffff;
    text-align: center;
    margin-top: 30px;
  }
  
  .login p a {
    color: #BF360c;
    text-decoration: none;
    margin: 0px 10px;
  }
  
  .login p a:hover {
    text-decoration: underline;
  }
  
  .login-container .login-buttons button {
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 3px;
    margin-right: 10px;
  }

  .login-container .login-buttons button {
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 3px;
    margin-right: 10px;
    background-color: #FFD180;
}