.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFD180;
  }
  
  .signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    padding: 50px;
    border-radius: 20px;
    background-color: #ff9100;
  }
  
  .signup-container h2 {
    color: #ffffff;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .signup-container hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: #ffffff;
    margin-bottom: 30px;
  }
  
  .signup-container div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .signup-container label {
    color: #BF360c;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .signup-container input {
    border: none;
    padding: 10px;
    border-radius: 5px;
    height: 20px;
  }
  
  .signup-container .signup_button {
    border: none;
    background-color: #ffffff;
    color: #ff9100;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .signup-container .signup-button:hover {
    background-color: #ff9100;
    color: #ffffff;
  }
  